html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}
div.modal-mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 99999999;
}
div.modal-box{
    width:300px;
    height:150px;
    border: 1px solid silver;
    background-color: #e9e9e9;
    border-radius: 10px;
    position: absolute;
    top: calc((100% - 150px) / 2);
    left: calc((100% - 300px) / 2);
    z-index: 100000000;
    box-shadow: 0 0 2px #444;
}

div.modal-box .modal-title{
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
div.modal-box .modal-message{
    text-align: center;
    margin-top: 28px;
    font-size: 18px;
    color: #444;
}
div.modal-box .modal-button-box{
    height: 50px;
    /*background-color: red;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid silver;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.modal-button-box div{
    height: 48px;
    width: 98%;
    margin: 0 auto;
    /*background-color: red;*/
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.modal-separator{
    border-left: 1px solid silver;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: calc(50%);
    display: block;
}
.modal-left-button, .modal-right-button{
    display: block;
    width: 49%;
    height: 48px;
    /*background-color: red;*/
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.modal-right-button{
    left: auto;
    right: 0;
}
