@charset "utf-8";
*,*:before,*:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}
.container{text-align: center;}
section{
	width: 30%;
	display: inline-block;
	text-align: center;
	min-height: 215px;
	vertical-align: top;
	margin: 1%;
	background: #080915;
	border-radius: 5px;
	box-shadow: 0 0 30px 1px #103136 inset;
}
@media only screen and (min-width:600px ) {
	section{min-width: 350px;}
}
.loader{
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 75px;
	display: inline-block;
	vertical-align: middle;
}
.loader-star{position: absolute;top:calc(50% - 12px);}
/*loader  start*/
.loader-1 .loader-outter,
.loader-1 .loader-inner{
	position: absolute;
	border: 4px solid #f50057;
	border-radius: 50%;
}
.loader-1 .loader-outter{
	border-left-color: transparent;
	border-bottom: 0;
	width: 100%;
	height: 100%;
	-webkit-animation: loader-1-outter 1s cubic-bezier(0.42,0.61,0.58,0.41) infinite;
	animation: loader-1-outter 1s cubic-bezier(0.42,0.61,0.58,0.41) infinite;
}
.loader-1 .loader-inner{
	width: 40px;
	height: 40px;
	left: calc(50% - 20px);
	top: calc(50% - 20px);
	border-right:0;
	border-top-color: transparent;
	-webkit-animation: loader-1-inner 1s cubic-bezier(0.42,0.61,0.58,0.41) infinite;
	animation: loader-1-inner 1s cubic-bezier(0.42,0.61,0.58,0.41) infinite
}
@-webkit-keyframes loader-1-outter{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes loader-1-outter{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
@-webkit-keyframes loader-1-inner{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-360deg);}
}
@keyframes loader-1-inner{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}
}
/*loader  end*/

/*loader start*/
.css-times{
	position: absolute;
	width: 100px;
	height: 90px;
}
.css-times:before,.css-times:after{
	position: absolute;
	content: '';
	left: 50px;
	top: 0;
	width: 2px;
	height: 65px;
	background: red;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-animation: times-background 1s ease-in-out infinite;
	animation: times-background 1s ease-in-out infinite;
}
@-webkit-keyframes times-background{
	0%,100%{background: blueviolet;}
	60%{background: #ff3d00;}
}
@keyframes times-background{
	0%,100%{background: blueviolet;}
	60%{background: #ff3d00;}
}
.css-times:after{
	left: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.loader-2{width: 100%;}
.loader-2 .times1{
	-webkit-animation: times-pulse 1s ease-in-out infinite;
	animation: times-pulse 1s ease-in-out infinite;
	left: 0;
}
.loader-2 .times2{
	-webkit-animation: times-pulse 1s .2s ease-in-out infinite;
	animation: times-pulse 1s .2s ease-in-out infinite;
	left: 25px;
}
.loader-2 .times3{
	-webkit-animation: times-pulse 1s .4s ease-in-out infinite;
	animation: times-pulse 1s .4s ease-in-out infinite;
	left: 50px;
}
@-webkit-keyframes times-pulse{
	0%,100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
	60%{
		-webkit-transform: scale(0);
		opacity: 0;
	}
}
@keyframes times-pulse{
	0%,100%{
		transform: scale(1);
		opacity: 1;
	}
	60%{
		transform: scale(0);
		opacity: 0;
	}
}
/*loader-2 end*/

/*loader-3 start*/
.loader-3 .line{
	width: 8px;
	position: absolute;
	border-radius: 5px;
	bottom: 0;
	background: -webkit-gradient(linear,left top,left bottom,form(#1ee95d),to(#5714ce));
	background: -webkit-linear-gradient(top,#1ee95d,#5714ce);
	background: linear-gradient(to bottom,#1ee95d,#5714ce);
}
.loader-3 .line1{
	left: 0;
	-webkit-animation: line-grow .5s ease alternate infinite;
	animation: line-grow .5s ease alternate infinite;
}
.loader-3 .line2{
	left: 20px;
	-webkit-animation: line-grow .5s .2s ease alternate infinite;
	animation: line-grow .5s .2s ease alternate infinite;
}
.loader-3 .line3{
	left: 40px;
	-webkit-animation: line-grow .5s .2s ease alternate infinite;
	animation:  line-grow .5s .2s ease alternate infinite;
}
@-webkit-keyframes line-grow{
	0%{height: 0;}
	100%{height: 75%;}
}
@keyframes line-grow{
	0%{height: 0;}
	100%{height: 75%;}
}
/*loader-3 end*/

/*loader-4 start*/
.css-star{
	margin: 10px 0;
	position: relative;
	display: block;
	width: 0;
	height: 0;
	border-right: 26px solid transparent;
	border-bottom: 23px solid #e11a2b;
	border-left: transparent solid 23px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg); 
}
.css-star:before,.css-star:after{
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: '';
}
.css-star:before{
	top: -9px;
	left: -16px;
	border-bottom: 18px solid #e11a2b;
	border-left: 8px solid transparent;
	border-right:  8px solid transparent;
	-webkit-transform: rotate(-35deg);
	transform: rotate(-35deg);
}
.css-star:after{
	top: 2px;
	left: -26px;
	border-right: 25px solid transparent;
	border-bottom: 22px solid #e11a2b;
	border-left: 27px solid transparent;
	-webkit-transform: rotate(-70deg);
	transform: rotate(-70deg);
}
.loader-4 .css-star{
	position: absolute;
	-webkit-transform: rotate(180deg) scale(0.5);
	transform: rotate(180deg) scale(0.5);
	opacity:0.4;
}
.loader-4 .css-star,
.loader-4 .css-star:before,
.loader-4 .css-star:after{
	border-bottom-color: #00e676;
}
.loader-4 .star1{
	top: -20px;
	left: 5px;
	-webkit-animation: star-crazyness 1s .125s ease infinite;
	animation:  star-crazyness 1s .125s ease infinite;
}
.loader-4 .star2{
	left: 25px;
	top: -10px;
	-webkit-animation: star-crazyness 1s .3s ease infinite;
	animation: star-crazyness 1s .3s ease infinite;
}
.loader-4 .star3{
	left: 35px;
	top: 10px;
	-webkit-animation: star-crazyness 1s .425s ease infinite;
	animation: star-crazyness 1s .425s ease infinite;
}
.loader-4 .star4{
	left: 27px;
	top: 30px;
	-webkit-animation: star-crazyness 1s .54s ease infinite;
	animation: star-crazyness 1s .54s ease infinite;
}
.loader-4 .star5{
	left: 5px;
	top: 40px;
	-webkit-animation: star-crazyness 1s .665s ease infinite;
	animation: star-crazyness 1s .665s ease infinite;
}
.loader-4 .star6{
	left: -25px;
	top: 10px;
	-webkit-animation: star-crazyness 1s .79s ease infinite;
	animation: star-crazyness 1s .79s ease infinite;
}
.loader-4 .star7{
	left: -25px;
	top: 10px;
	-webkit-animation: star-crazyness 1s .9s ease infinite;
	animation: star-crazyness 1s .9s ease infinite;
}
.loader-4 .star8{
	left: -15px;
	top: -10px;
	-webkit-animation: star-crazyness 1s 1s ease infinite;
	animation: star-crazyness 1s 1s ease infinite;
}
@-webkit-keyframes star-crazyness{
	0%{
		opacity: 0.4;
		-webkit-transform: rotate(180deg) translate(0,0) scale(0.6);
	}
	25%{
		opacity: 0.4;
		-webkit-transform: rotate(180deg) translate(0,0) scale(0.2);
	}
	50%{
		opacity: 0.7;
		-webkit-transform: rotate(180deg) translate(5px,5px) scale(0.4);
	}
	75%{
		opacity: 0.4;
		-webkit-transform: rotate(180deg) translate(0,0) scale(0.6);
	}
	80%{
		opacity: 1;
		-webkit-transform: rotate(180deg) translate(5px,0) scale(0.1);
	}
	100%{
		opacity: 0.4;
		-webkit-transform: rotate(180deg) translate(0,0) scale(0.6);
	}
}
@keyframes star-crazyness{
	0%{
		opacity: 0.4;
		transform: rotate(180deg) translate(0,0) scale(0.6);
	}
	25%{
		opacity: 0.4;
		transform: rotate(180deg) translate(0,0) scale(0.2);
	}
	50%{
		opacity: 0.7;
		transform: rotate(180deg) translate(5px,5px) scale(0.4);
	}
	75%{
		opacity: 0.4;
		transform: rotate(180deg) translate(0,0) scale(0.6);
	}
	80%{
		opacity: 1;
		transform: rotate(180deg) translate(5px,0) scale(0.1);
	}
	100%{
		opacity: 0.4;
		transform: rotate(180deg) translate(0,0) scale(0.6);
	}
}
/*loader-4 end*/

/*loader-5 start*/
.loader-5{
	border: dotted rgba(255,255,0,1) 8px;
	-webkit-transform: all 1s ease;
	transform:  all 1s ease;
	-webkit-animation: dotted-spin 1s linear infinite;
	animation:  dotted-spin 1s linear infinite;
	border-bottom-width: 1px;
	border-bottom-color: rgba(255,255,0,.3);
	border-left-width: 2px;
	border-left-color: rgba(255,255,0,.5);
	border-top-width: 3px;
	border-right-width: 4px;
	border-top-color: rgba(255,255,0,.7);
}
.loader-5 .loader-pacman{
	position: absolute;
	top: 40px;
	left: 25px;
	width: 0;
	height: 0;
	border-right: 12px solid transparent;
	border-top: solid rgba(255,255,0,1) 12px;
	border-left: 12px solid rgba(255, 255, 0, 1);
    border-bottom: 12px solid rgba(255, 255, 0, 1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
@-webkit-keyframes dotted-spin{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(-360deg);}
}
@keyframes dotted-spin{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(-360deg);}
}
/*loader-5 end*/
/*loader-6 start*/
.loader-6{
	border: 7px double #ff5722;
	-webkit-animation: ball-turn 1s linear infinite;
	animation: ball-turn 1s linear infinite;
}
.loader-6:before,.loader-6:after{
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: #ff5722;
	border-radius: 50%;
	bottom: 0;
	right: 37px;
}
.loader-6:after{
	left: 37px;
	top: 0;
}
@-webkit-keyframes ball-turn{
	0%{-webkit-transform: rotate(0deg);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes ball-turn{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
/*loader-6 end*/
/*loader-7 start*/
.loader-7 .css-square{
	position: absolute;
	top: 50%;
	width: 25px;
	height: 7px;
	background: white;
	box-shadow: 2px 2px 3px 0 black;
}
.loader-7 .square1{
	left: 70px;
	-webkit-animation: dominos 1s 0.125s ease infinite;
	animation: dominos 1s 0.125s ease infinite;
}
.loader-7 .square2{
	left: 60px;
	-webkit-animation: dominos 1s 0.3s ease infinite;
	animation: dominos 1s 0.425s ease infinite;
}
.loader-7 .square3{
	left: 50px;
	-webkit-animation: dominos 1s 0.425s ease infinite;
	animation: dominos 1s 0.425s ease infinite;
}
.loader-7 .square4{
	left: 40px;
	-webkit-animation: dominos 1s 0.54s ease infinite;
	animation: dominos 1s 0.54s ease infinite;
}
.loader-7 .square5{
	left: 30px;
	-webkit-animation: dominos 1s 0.665s ease infinite;
	animation: dominos 1s 0.665s ease infinite;
}
.loader-7 .square6{
	left: 20px;
	-webkit-animation: dominos 1s 0.79s ease infinite;
	animation: dominos 1s 0.79s ease infinite;
}
.loader-7 .square7{
	left: 10px;
	-webkit-animation: dominos 1s 0.9s ease infinite;
	animation: dominos 1s 0.9s ease infinite;
}
.loader-7 .square8{
	left: 0;
	-webkit-animation: dominos 1s 1s ease infinite;
	animation: dominos 1s 1s ease infinite;
}
@-webkit-keyframes dominos{
	50%{opacity: 0.7;}
	75%{-webkit-transform: rotate(90deg);}
	80%{opacity: 1;}
}
@keyframes dominos{
	50%{opacity: 0.7;}
	75%{transform: rotate(90deg);}
	80%{opacity: 1;}
}
/*loader-7 end*/
/*loader-8 start*/
.loader-8{
	border: 6px groove #7e57c2;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transform: all 1s ease;
	transform: all 1s ease;
	-webkit-animation: loader-1-inner 1s ease-out alternate infinite;
	animation: loader-1-inner 1s ease-out alternate infinite;
}
.loader-8 .loader-inner{
	border: 0 inset #9575cd;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	-webkit-animation: border-zoom 1s ease-out alternate infinite;
	animation: border-zoom 1s ease-out alternate infinite;
}
@-webkit-keyframes border-zoom{
	0%{border-width: 0;}
	100%{border-width: 10px;}
}
@keyframes  border-zoom{
	0%{border-width: 0;}
	100%{border-width: 10px;}
}
/*loader-8 end*/
/*loader-9 start*/
.loader-9 .dot{
	width: 10px;
	height: 10px;
	background: #00e676;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 5px);
}
.loader-9 .dot1{
	left: 0;
	-webkit-animation: dot-jump 0.5s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
	animation: dot-jump 0.5s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
}
.loader-9 .dot2{
	left: 20px;
	-webkit-animation: dot-jump 0.5s 0.2s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
	animation: dot-jump 0.5s 0.2s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
}
.loader-9 .dot3{
	left: 40px;
	-webkit-animation: dot-jump 0.5s 0.4s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
	animation: dot-jump 0.5s 0.4s cubic-bezier(0.77,0.47,0.64,0.28) alternate infinite;
}
@-webkit-keyframes dot-jump{
	0%{-webkit-transform: translateY(0);}
	100%{-webkit-transform: translateY(-15px);}
}
@keyframes dot-jump{
	0%{transform: translateY(0);}
	100%{transform: translateY(-15px);}
}
/*loader-9 end*/
/*loader-10 start*/
.loader-10{
	width: 70px;
	height: 70px;
	border: 3px dashed #d3d3d3;
	-webkit-animation: stars-rotate-reverse 2s linear both infinite;
	animation: stars-rotate-reverse 2s linear both infinite;
}
.loader-10 .css-diamond{
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	border-color: transparent transparent #fff transparent;
}
.loader-10 .css-diamond:after{border-color: lightgrey transparent transparent transparent;}
.css-diamond{
	border-style: solid;
	border-color: transparent transparent #ce93d8 transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 100px;
	position: relative;
	margin: 20px 0 50px 0;
}
.css-diamond:after{
	content: '';
	position: absolute;
	top: 25px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: #ce93d8 transparent transparent transparent;
	border-width: 70px 50px 0 50px;
}
@-webkit-keyframes stars-rotate-reverse{
	0%{-webkit-transform: rotate(0);}
	100%{-webkit-transform: rotate(360deg);}
}
@keyframes stars-rotate-reverse{
	0%{transform: rotate(0);}
	100%{transform: rotate(360deg);}
}
/*loader-10 end*/
/*loader-11 start*/
.loader-11 .css-heart{
	position: absolute;
	-webkit-animation: star-fly-out 1s ease alternate infinite;
	animation:  star-fly-out 1s ease alternate infinite;
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
}
.css-heart{position: absolute;}
.css-heart:before,
.css-heart:after{
	position: absolute;
	content: '';
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: #950d0d;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.css-heart:after{
	left: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.loader-11 .heart1{
	top: 0;
	left: 30px;
}
.loader-11 .heart2{
	top: 30px;
	left: 60px;
}
.loader-11 .heart3{
	top: 60px;
	left: 30px;
}
.loader-11 .heart4{
	top: 30px;
	left: 0px;
}
@-webkit-keyframes star-fly-out{
	0%{
		top: 19px;
		left: 19px;
	}
	100%
}
@keyframes star-fly-out{
	0%{
		top: 19px;
		left: 19px;
	}
	100%
}
/*loader-11 end*/
/*loader-12 start*/
/*loader-12 end*/
/*loader-13 start*/
/*loader-13 end*/